
<!-- Start Page Title Area -->
<section class="page-title-banner1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/images/SkillLens_Careers-3.jpg" alt="careers">
            </div>
        </div>
    </div>
</section>
<!-- End Page Title Area -->
<div class="container">
    <div class="row">
        <div class="careers">
            <h1 class="mb-4">Our Mantra -Build & Upgrade Skill
            </h1>
            <p>"We focus on building a technology enabled learning environment that should help the learner to build and upgrade skill. We welcome and constantly look for inquisitive, like-minded people who love to create an impact in the EdTech world. If
                we have really excited you, join Skill Lens"</p>
            <hr>
            <h1 class="mt-5 p-3">Join Our Team</h1>
            
            <p class="text-center">We are always open to hire new talent. Please browse through our current opportunities and you can also write to us on hr@skilllens.com</p>
            <div class="row m-t-20">
                <div class="col-md-3">
                    <div class="card  mx-sm-1 p-3">
                        <div class="card  shadow  p-3 my-card"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        <div class="text-center mt-3">
                            <h1>Research & Content</h1>
                        </div>
                        <div class="text-center mt-2">
                            <p>Develop content hand-in-hand with our instructional design</p>
                        </div>
                        <div class="text-center mt-2">
                            <a [routerLink]="['/current-openings', 'Research']" class="sign"> View Jobs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mx-sm-1 p-3">
                        <div class="card  shadow text-success p-3 my-card"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                        <div class=" text-center mt-3">
                            <h1>Operations</h1>
                        </div>
                        <div class=" text-center mt-2">
                            <p>Make things happen for our Clients, Subscribers, Vendors and Employees</p>
                        </div>
                        <div class=" text-center mt-2">
                            <a [routerLink]="['/current-openings', 'Operations']" class="sign">View Jobs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mx-sm-1 p-3">
                        <div class="card  shadow text-danger p-3 my-card"><i class="fa fa-laptop" aria-hidden="true"></i></div>
                        <div class=" text-center mt-3">
                            <h1>Information Technology</h1>
                        </div>
                        <div class="text-center mt-2">
                            <p>Build innovate tools</p>
                        </div>
                        <div class=" text-center mt-2">
                            <a [routerLink]="['/current-openings', 'InformationTechnology']" class="sign">View Jobs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mx-sm-1 p-3">
                        <div class="card  shadow text-warning p-3 my-card"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                        <div class=" text-center mt-3">
                            <h1>Customer Support</h1>
                        </div>
                        <div class=" text-center mt-2">
                            <p>Assist and Troubleshoot with the service requirements</p>
                        </div>
                        <div class="text-center mt-2">
                            <a [routerLink]="['/current-openings', 'CustomerSupport']" class="sign">View Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-3">
                    <div class="card  mx-sm-1 p-3">
                        <div class="card  shadow  p-3 my-card"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
                        <div class="text-center mt-3">
                            <h1>Design</h1>
                        </div>
                        <div class="ext-center mt-2">
                            <p>Build the brand Skill Lens</p>
                        </div>
                        <div class="text-center mt-2">
                            <a [routerLink]="['/current-openings', 'Design']" class="sign">View Jobs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mx-sm-1 p-3">
                        <div class="card  shadow text-success p-3 my-card"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
                        <div class=" text-center mt-3">
                            <h1>Digital Marketing</h1>
                        </div>
                        <div class=" text-center mt-2">
                            <p>Launch creative campaigns to increase our out reach</p>
                        </div>
                        <div class=" text-center mt-2">
                            <a [routerLink]="['/current-openings', 'DigitalMarketing']" class="sign">View Jobs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mx-sm-1 p-3">
                        <div class="card  shadow text-danger p-3 my-card"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                        <div class=" text-center mt-3">
                            <h1>Business Development</h1>
                        </div>
                        <div class="text-center mt-2">
                            <p>Grow and Promote Skill Lens</p>
                        </div>
                        <div class=" text-center mt-2">
                            <a [routerLink]="['/current-openings', 'BusinessDevelopment']" class="sign">View Jobs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  mx-sm-1 p-3">
                        <div class="card  shadow text-warning p-3 my-card"><i class="fa fa-users" aria-hidden="true"></i></div>
                        <div class=" text-center mt-3">
                            <h1>Human Resources</h1>
                        </div>
                        <div class=" text-center mt-2">
                            <p>Build the best teams and make Skill Lens a happening place for work</p>
                        </div>
                        <div class="text-center mt-2">
                            <a [routerLink]="['/current-openings', 'HumanResources']" class="sign">View Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>