<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <h3><b>Web Development - React JS Course Syllabus</b></h3>
    </div>
</div>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Designing - HTML, CSS, Bootstrap
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>HTML & CSS</b>
                        <ul type="square">
                            <li>Intro to HTML Syntax</li>
                            <li>The HTML, head, title, & body tags</li>
                            <li>Headings, paragraphs, & lists</li>
                            <li>The strong & em tags</li>
                            <li>The doctype</li>
                            <li>The meta tag </li>
                            <li>Formatting tags</li>
                            <li>Anchor tag, hrefs & download</li>
                            <li>Linking to pages within a website</li>
                            <li>The break tag</li>
                            <li>Creating Paragraphs</li>
                            <li>Table & other tags in Tables</li>
                            <li>The image tag, source & alt attribute </li>
                            <li>span, div & iframe</li>
                            <li>HTML Semantic Elements</li>
                            <li>Editing HTML in the DevTools Elements panel</li>
                            <li>Intro to Cascading Style Sheets (CSS)</li>
                            <li>Inline, Internal & External CSS</li>
                            <li>CSS Selectors</li>
                            <li>CSS Specificity</li>
                            <li>The font-size, font-family, color, & line-height properties</li>
                            <li>Hexadecimal color codes</li>
                            <li>Position Properties</li>
                            <li>Display Properties</li>
                            <li>Padding & Margin Properties</li>
                            <li>Background & Color Properties</li>
                            <li>CSS borders</li>
                            <li>Creating Shadows in CSS</li>
                            <li>Media quiries</li>
                            <li>Enabling, disabling, & editing CSS in the DevTools</li>
                            <li>Using DevTools to fine-tune your CSS</li>
                            <li>Bootstrap </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Functional - Javascript, ES5, ES6 </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>Javascript</b>
                        <ul type="square">
                            <li>Intro to Javascript</li>
                            <li>ECMA Standard</li>
                            <li>Different Javascript Engines</li>
                            <li>Data Types & Operators</li>
                            <li>Control Statements & Loops</li>
                            <li>Displaying Pop up messages</li>
                            <li>Functions in Javascript</li>
                            <li>Arrow Functions</li>
                            <li>Variable & Functions Hoisting</li>
                            <li>let, var & const </li>
                            <li>Objects in Javascript</li>
                            <li>Different Types of Object creations</li>
                            <li>Creating classes using function</li>
                            <li>Prototype</li>
                            <li>Shallow copy & Deep copy</li>
                            <li>Arrays</li>
                            <li>Array functions - map, filter, reduce.... </li>
                            <li>Closures</li>
                            <li>Event handling</li>
                            <li>DOM Manipulation</li>
                            <li>Data Validations</li>
                            <li>Template literals</li>
                            <li>Spread Operator & Rest Parameters</li>
                            <li>Object & Array Destructuring</li>
                            <li>call, apply & bind</li>
                            <li>Call back functions</li>
                            <li>Promises</li>
                            <li>async and await</li>
                            <li>setTimeout, setInterval</li>
                            <li>Event looping</li>
                            <li>Browser API - Fetch API</li>
                            <li>Web Storages - Local, Session Storages & Cookies</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Typescript - Basics, Objects, OOPS, Modules </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>Typescript</b>
                        <ul type="square">
                            <li>Intro to Typescript</li>
                            <li>Diff. Between Javascript & Typescript</li>
                            <li>Data Types & Variables</li>
                            <li>Working with classes</li>
                            <li>Inheritance</li>
                            <li>Working with Interfaces</li>
                            <li>Generics</li>
                            <li>Modules & Namespace</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                React JS - Basics, Building Blocks, Services, Routing </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>React JS</b>
                        <ul type="square">
                           <li><b>Introduction to React & JSX </b>
                            <ul type="square">
                                <li>Origins of React</li>
                                <li>React.js Syntax</li>
                                <li>Overview of JSX and why you should use it</li>
                                <li>Getting hold of everything you need to start coding</li>
                            </ul>
                           </li>
                            <li><b>React Components </b>
                                <ul type="square">
                                    <li>React component Properties</li>
                                    <li>Setting Properties</li>
                                    <li>Component Lifecycle</li>
                                    <li>Updating Components</li>
                                    <li>Writing your first React.js component</li>
                                    <li>Mounting Components</li>
                                </ul>
                            </li>
                            <li><b>JSX </b>
                                <ul type="square">
                                    <li>Expressions & Attributes</li>
                                    <li>JSX Basics</li>
                                    <li>Namespaced Components</li>
                                    <li>Rendering HTML</li>
                                    <li>Rendering React Components</li>
                                </ul>
                            </li>
                            <li><b>Flux </b>
                                <ul type="square">
                                    <li>Views & Controller-Views</li>
                                    <li>Flux is not MVC!</li>
                                    <li>Data Flow</li>
                                    <li>Action, Dispatcher, Store & View</li>
                                    <li>Flux Application Architecture & Structure</li>
                                </ul>
                            </li>
                            <li><b>Event Handling In React   </b>
                                <ul type="square">
                                    <li>Key Events</li>
                                    <li>Event Pooling</li>
                                    <li>React.js Event Handlers</li>
                                    <li>Synthetic Event</li>
                                </ul>
                            </li>
                            <li><b>Creating a Dynamic UI In React</b>
                                <ul type="square">
                                    <li>Keeping components stateless</li>
                                    <li>Event Delegation</li>
                                    <li>React Stateful Components</li>
                                    <li>Auto binding</li>
                                </ul>
                            </li>
                            <li><b>Integration With Other Libraries</b>
                                <ul type="square">
                                    <li>Gulp & Browserify</li>
                                    <li>React with jQuery</li>
                                    <li>React & AJAX</li>
                                </ul>
                            </li>
                            <li><b>React Server Integration & Deployment  </b>
                                <ul type="square">
                                    <li>httpster</li>
                                    <li>npm</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>