<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Interact With Our Users On Every Platform</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4 col-md-2 text-center ss">
            <a href="https://www.linkedin.com/company/skilllens" target="_blank">
                <img src="assets/images/SkillLens_LinkedIn_Logo.webp" alt="SkillLens_LinkedIn_Logo">
            </a>
        </div>

        <div class="col-4 col-sm-4 col-md-2 text-center ss">
            <a href="https://www.facebook.com/skilllens" target="_blank">
                <img src="assets/images/SkillLens_Facebook_Logo.webp" alt="SkillLens_Facebook_Logo">

                <!-- <span>Facebook Feed</span> -->
                <!-- <i class="icofont-bubble-right"></i> -->
            </a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 text-center ss">
            <a href="https://www.youtube.com/channel/UCY_GL5DzyeA7QrIKIGEBGGQ" target="_blank">
                <img src="assets/images/SkillLens_Youtube_Logo1.png" alt="SkillLens_Youtube_Logo" width="53px"
                    height="63px">

                <!-- <span>Instagram Feed</span> -->
                <!-- <i class="icofont-bubble-right"></i> -->
            </a>
        </div>

        <div class="col-4 col-sm-4 col-md-2 text-center ss">
            <a href="https://twitter.com/skilllens" target="_blank">
                <img src="assets/images/SkillLens_Twitter_Logo1.webp" alt="SkillLens_Twitter_Logo" width="43px"
                    height="43px">

                <!-- <span>Twitter Feed</span> -->
                <!-- <i class="icofont-bubble-right"></i> -->
            </a>
        </div>

        <div class="col-4 col-sm-4 col-md-2 text-center ss">
            <a href="https://www.instagram.com/skilllens/" target="_blank">
                <img src="assets/images/SkillLens_Instagram_Logo.webp" alt="SkillLens_Instagram_Logo">

                <!-- <span>Instagram Feed</span> -->
                <!-- <i class="icofont-bubble-right"></i> -->
            </a>
        </div>

        <div class="col-4 col-sm-4 col-md-2 text-center ss">
            <a href="https://t.me/skilllens" target="_blank">
                <img src="assets/images/SkillLens_Telegram_Logo.jpg" alt="SkillLens_Instagram_Logo" width="48px"
                    height="48px">

                <!-- <span>Instagram Feed</span> -->
                <!-- <i class="icofont-bubble-right"></i> -->
            </a>
        </div>


    </div>
</div>