<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <h3><b>Python Full Stack Course Syllabus </b></h3>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Client Side - HTML, CSS, Bootstrap, Javascript, Typescript & Angular
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <app-client-side></app-client-side>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Server Side - Python, Loops, OOPS, Collections, Dijango, API
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>Python</b>
                        <ul type="square">
                            <li> Introduction to Python </li>
                            <li> Advanced Data Types in Python </li>
                            <li> Writing Iterative Code and Algorithms </li>
                            <li> Object Oriented Programming with Python </li>
                            <li> Working with APIs</li>
                            <li> Introduction to Back-End Web Development using Django </li>
                            <li> Advanced Django for Web and Automation </li>
                            <li> Building Web APIs using Django REST </li>
                            <li> Deploying Web APIs </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Database - DBMS, RDBMS, SQL, MS SQL Server
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <app-database></app-database>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Software Development Methods - SDLC, Different SDLC Models
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>SDLC</b>
                        <ul type="square">
                            <li>Introduction to SDLC</li>
                            <li>Why do we need SDLC</li>
                            <li>SDLC Phases</li>
                            <li>Requirements Gathering</li>
                            <li>Designing - HLD, LLD</li>
                            <li>Coding</li>
                            <li>Testing</li>
                            <li>Deployment</li>
                            <li>Maintenance</li>
                        </ul>
                    </li>
                    <li><b>SDLC Models</b>
                        <ul type="square">
                            <li>Intro to SDLC Models</li>
                            <li>Waterfall Model</li>
                            <li>Iterative Model</li>
                            <li>Prototype Model</li>
                            <li>Spiral Model</li>
                            <li>Fish Model</li>
                            <li>V-Model</li>
                            <li>Incremental Model</li>
                            <li>Big Bang Model</li>
                            <li>RAD Model</li>
                            <li>Agile Model</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Versioning Control System - GIT, GIT Hub
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>Version Control System</b>
                        <ul type="square">
                            <li>Introduction to Version Control System</li>
                            <li>Distributed vs Non-distributed VCS</li>
                            <li>Alternatives to Git</li>
                            <li>Cloud-based solutions (Github, Gitlab, BitBucket etc)</li>
                        </ul>
                    </li>
                    <li><b>Git</b>
                        <ul type="square">
                            <li>Installing Git</li>
                            <li>Common configurations</li>
                            <li>Gui Tools</li>
                            <li>Clone, Checkout, Working Tree, Staging Area</li>
                            <li>Add, Commit, Push, Pull, Stash</li>
                            <li>Working with Local Repository</li>
                            <li>Working with Remote Repository</li>
                            <li>Branhing, Merging Branches</li>
                            <li>Stashing Changes</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Project - Project Architecture, Designing, Coding, Testing
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>Project</b>
                        <ul type="square">
                            <li>Introduction to Project</li>
                            <li>DB Designing</li>
                            <li>Writing API</li>
                            <li>Front End App with Angular</li>
                            <li>Integrating API</li>
                            <li>Version Control System - GIT</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>