<!-- Start Partner Area -->
<div class="partner-area">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_TechMahindra.webp"
                        alt="SkillLens_TechMahindra"></a>
            </div>


            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Wipro.webp" alt="SkillLens_Wipro"></a>
            </div>
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Suja.jpg" alt="Suja Associates"
                        height="45px" width="70px"></a>
            </div>
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Accenture.png" alt="Accenture"
                        height="45px" width="70px"></a>
            </div>
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Tarantula.jpg" alt="Tarantula"
                        height="45px" width="70px"></a>
            </div>

            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_JNet.png" alt="JNET Tech"></a>
            </div>
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Vivifi.jpg" alt="VIVIFI" height="45px"
                        width="80px"></a>
            </div>
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Google.webp" alt="SkillLens_Google"></a>
            </div>

            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_HappiestMinds.png" height="70px"
                        alt="HappiestMinds"></a>
            </div>


            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Infosys.webp" alt="SkillLens_Infosys"></a>
            </div>
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_RayBussiness.png" alt="Ray Bussiness Tech"
                        height="50px"></a>
            </div>

            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Capgemini.webp"
                        alt="SkillLens_Capgemini"></a>
            </div>

            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Virtusa.webp" alt="SkillLens_Virtusa"></a>
            </div>

            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Deloitte.webp"
                        alt="SkillLens_Deloitte"></a>
            </div>
            <div class="item">
                <a target="_blank" href="#"><img src="assets/images/SkillLens_Serco.jpg" height="90px" width="80px"
                        alt="Serco"></a>
            </div>

        </div>
    </div>
</div>
<!-- End Partner Area -->