<!-- Start Page Title Area -->
<section class="page-title-banner1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/images/SkillLens_leadership.jpg" alt="leader-banner" />
            </div>
        </div>
    </div>



</section>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12">
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active bt_ch" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Managing Director</button>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                        <button class="nav-link bt_ch" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Our Infra</button>
                    </li> -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link bt_ch" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">Technical Director</button>
                    </li>
                </ul>
                <div class="tab-content shadow p-3 bg-body rounded" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="patro">
                                      <img src="assets/images/SkillLens_kumarSir.jpg" alt="Kumar-CEO" />
                  
                                      <h4><b>Kumar Raja M </b></h4>
                                      <h6>Founder & CEO <span class="color">|</span> Strategy & Growth</h6>
                                      <h6>Email: kumarraja@skilllens.com</h6>
                                    </div>
                                  </div>
                                  <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="patro">
                                      <p style="padding: 5px">
                                        "I believe education transforms lives". However, Education
                                        has become so essential and costlier that parents are
                                        compelled to spend more than 35% of their earnings towards
                                        the education of their children. Our vision is to provide
                                        a world-class online learning platform at the most
                                        affordable price. My interest in education began a decade
                                        ago. After completion of Post-Graduation, I worked as a
                                        Teacher, Trainer for 6 years, and directly trained 10000+
                                        students. My 5+ years of experience as an HR professional
                                        helped me understand the skill gap between the industry
                                        and the aspirants. Skill Lens would constantly focus on
                                        reducing the skill gap. The instructional design
                                        techniques followed at Skill Lens will help each student
                                        to
                                        <b class="bcolor">L</b>earn-<b class="bcolor">E</b>valuate-<b class="bcolor">N</b>urture-<b class="bcolor">S</b>ucceed
                                        <b class="bcolor">(LENS)</b>.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
             

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="patro">
                                  <img
                                    src="assets/images/SkillLens_SatishSir.webp"
                                    alt="satish-Co-Founder"
                                  />
              
                                  <h4><b>Sathesh Kumar M </b></h4>
                                  <h6>Co-Founder & CTO <span class="color">|</span> Technology & Growth</h6>
              
                                  <h6>Email: sathesh@skilllens.com</h6>
                                </div>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="patro">
                                  <p style="line-height: 35px">
                                    Technology-enabled learning helps a child to learn at his
                                    own pace. Learning is effective when it is self-paced.
                                    Technology-enabled Self-pace learning influenced the birth
                                    of Skill Lens. My experience of training 35000+ students
                                    on C, C++, .Net and Angular over two decades helped me to
                                    understand the technology expectations of various
                                    multinational companies. All the online learning courses
                                    are perfectly designed to build skills. We not only share
                                    knowledge, we focus on the application of knowledge
                                    (Skill). The wings on our logo depict the flight and
                                    confidence that our subscriber feels after completion of
                                    his course.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Platform Connect -->
<section class="platform-connect ">
    <app-social-media-links></app-social-media-links>
</section>
<!-- End Platform Connect -->