<!-- Start Page Title Area -->
<section class="page-title-banner1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/images/SkillLens_Gallery.png" alt="careers">
            </div>
        </div>
    </div>



</section>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12">
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active bt_ch" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Student Feedback</button>
                    </li>
                    <!-- <li class="nav-item" role="presentation">
                        <button class="nav-link bt_ch" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Our Infra</button>
                    </li> -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link bt_ch" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">Happenings @ Skill Lens</button>
                    </li>
                </ul>
                <div class="tab-content shadow p-3 mb-5 bg-body rounded" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients10.png" class="card-img-top"
                                        alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Sathesh Kumar</h5>
                                            <p class="card-text">Positive: Professionalism</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients5.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Anil Ak 3628</h5>
                                            <p class="card-text">Best E-Learning and E-assessment platform,worth content
                                                videos easy learning.</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients6.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Karthik Jangala</h5>
                                            <p class="card-text">Best E-Learning platform,very usefull contet is
                                                availabe in this website</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients7.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Kalyani Kolli</h5>
                                            <p class="card-text">It's one the best online training platform to build up
                                                our skills and career.</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients8.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Harish Babu Talasila</h5>
                                            <p class="card-text">It's the right place to get best assessments practice
                                                very good one</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients9.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Veda Kumar Raja Masanam</h5>
                                            <p class="card-text">Skilllens offered right help at right time. Content on
                                                the site is very well structured and easy to understand.</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients11.png" class="card-img-top"
                                        alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">David Manohar</h5>
                                            <p class="card-text">Positive: Quality <br>
                                                SkillLens provide High quality videos.</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients5.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">avinash kokkiragadda</h5>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients12.png" class="card-img-top"
                                        alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">chethan basude</h5>
                                            <p class="card-text">I have enrolled for english & verbal with skilllens..
                                                now I'm able to write and speak English without any grammatical
                                                mistake.. thank you skilllens.</p>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Masanam Seetharamaiah</h5>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients2.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Sri Teja</h5>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients3.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Madhavi P</h5>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="card bg-light-subtle mt-4">
                                    <img src="../../assets/images/SkillLens_clients4.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <div class="text-section">
                                            <h5 class="card-title fw-bold">Raja Yedurada</h5>
                                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <div class="row">
                            <div class="col-lg-3 col-md-6 p-3">

                            </div>
                            <div class="col-lg-9 col-md-6 p-3 mt-5">
                                <h5 class="blue_clr">Coming Soon</h5>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                        <div class="row">
                            <div class="col-lg-3 col-md-6 p-3">

                            </div>
                            <div class="col-lg-9 col-md-6 p-3 mt-5">
                                <h5 class="blue_clr">Coming Soon</h5>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-contact1" role="tabpanel" aria-labelledby="pills-contact-tab">

                        <div class="row">
                            <div class="col-lg-3 col-md-6 p-3">
                                <img src="assets/images/SkillLens_Content_Writing.webp" />
                            </div>
                            <div class="col-lg-9 col-md-6 p-3 mt-5">
                                <h5 class="blue_clr">We Write Content for Websites</h5>
                                <p>We are specialized in writing most relevant content for various websites to target
                                    business specific audience to attract business.</p>
                                <p>Our content will have keywords aimed towards improving a website's SEO. We develop,
                                    write content as per the business concept. We Check for keywords or generate a
                                    keyword, and research limitations for the keywords.</p>
                                <p>We produce a content to entice and engage visitors so they continue browsing the
                                    current website for a long time. The longer a visitor stays on a particular site,
                                    the greater the likelihood they will eventually become clients or customers.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Platform Connect -->
<section class="platform-connect ptb-100">
    <app-social-media-links></app-social-media-links>
</section>
<!-- End Platform Connect -->