<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <h3><b>HR Training Course Syllabus </b></h3>
    </div>
</div>

<div class="accordion" id="accordionExample">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Human Resource (HR) Training
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                        <li><b>Organisation & Department in an organisation </b>
                        </li>
                        <li><b>Hr Department & Sub Departments in HR</b>
                        </li>
                    <li><b>HR - Recruitment</b>
                        <ul type="square">
                                <li>Understanding the Manpower requirement of company</li>
                                <li>Recruitment Requisition</li>
                                <li>Recruitment Methodologies and procedure for various industries.</li>
                                <li>Head Hunting</li>
                                <li>Talent Acquisition</li>
                        </ul>
                    </li>
                    <li><b>Sourcing through job portals</b>
                        <ul type="square">
                            <li>LinkedIn </li>
                            <li>Naukri </li>
                            <li>Foundit</li>
                            <li>Shine</li>
                            <li>Indeed</li>
                            <li>Olx etc</li>
                        </ul>
                    </li>
                    <li><b>How to use job portals for</b>
                        <ul type="square">
                            <li>Sourcing & Shortlisting</li>
                            <li>Mass Mailing & Bulk SMS</li>
                            <li>Boolean search & Advanced Search</li>
                            <li>Jobs posting</li>
                        </ul>
                    </li>
                    <li><b>How to conduct an Interview (Technical, HR, MR)</b>
                        <ul type="square">
                            <li>Screening</li>
                            <li>Telephonic Interview</li>
                            <li>Follow Up</li>
                            <li>Face to Face round</li>
                            <li>Salary Negotiation</li>
                            <li> Final Closure</li>
                        </ul>
                    </li>
                    <li><b>CORE HR Responsibilities & Handling Documentation</b>
                        <ul type="square">
                            <li>Checklist for Document verification</li>
                            <li>Background Verification</li>
                            <li>Maintaining Records</li>
                            <li>Onboarding & Induction Process</li>
                            <li>Query Resolution</li>
                            <li>General safety & Internet policies</li>
                            <li>Female safety policies</li>
                            <li>Legal Compliances</li>
                            <li>Benefits and perks</li>
                            <li>Growth opportunities inside the organisation</li>
                            <li> Company policies</li>
                        </ul>
                    </li>
                    <li><b>Training & development programs</b>
                        <ul type="square">
                            <li>Training Plan</li>
                            <li>Training record and feedback</li>
                            <li>Preparing KRA & KPA</li>
                        </ul>
                    </li>
                    <li><b>Templates for general documentation</b>
                        <ul type="square">
                            <li>Offer Letter</li>
                            <li>Confirmation Letter</li>
                            <li>Probation extension letter </li>
                            <li>Job confirmation letter</li>
                            <li>Warning letter</li>
                            <li>Increment Letter</li>
                            <li>Promotion Letter</li>
                            <li>Resignation Acknowledgement Letter</li>
                            <li>Relieving letter</li>
                            <li>Experience letter</li>
                            <li> No Objection Certificate</li>
                            <li>Non-Disclosure Agreement</li>
                            <li>Exit interview formats</li>
                        </ul>
                    </li>
                    <li><b>Monthly Reports</b>
                        <ul type="square">

                            <li> Attendance Report</li>
                            <li>Performance Evaluation Report </li>
                            <li>Upgrading Training Programs</li>
                            <li>Bench Resources report</li>
                            <li>Attrition report</li>
                        </ul>
                    </li>
                    <li><b>Employee Relationship Programs</b>
                        <ul type="square">
                            <li>Weekly events</li>
                            <li>Monthly events</li>
                            <li>Yearly events</li>
                        </ul>
                    </li>
                    <li><b> Payroll Management </b>
                        <ul type="square">
                            <li>Salary slips</li>
                        </ul>
                    </li>
                    <li><b>Compliances</b>
                        <ul type="square">
                            <li>Provident Fund</li>
                            <li>ESI</li>
                            <li>Professional Tax</li>
                            <li>TDS & Form 16</li>
                            <li>Gratuity</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>




</div>
