<!-- Start Page Title Area -->
<section class="page-title-banner1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/images/SkillLens_InterviewSkills.png" alt="SkillLens_InterviewSkills">
            </div>
        </div>
    </div>

</section>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="about-content">
                    <h4 >What is Presentation & Interview Skills ?</h4><br>
                   
                    <p>Presentation skill is considered as the most important skill. Presentation is not only
                        communication, it is the ability to adapt ourselves to various business situations and the
                        audience. Presentation is not just talking to the audience, it is engaging the audience. It is
                        decoding your though and enlightening the audience.</p>

                    <p>Interview skills is considered an ability to express and interact with the interviewer. Nowadays
                        interviewers are not following the traditional approach of question and answer. The interview
                        has become a process to understand the candidates' ability to think logically and rationally,
                        showcase the ability to handle a team or be a team player with suitable examples, exhibit proper
                        body language to make sure that you are connected with the person in front of you. In short, it
                        is the final chance you get to prove that you are an asset to the organization and impress the
                        interviewer to believe the same.
                    </p>
                    <br>
                    <h4 >Where is it required?</h4><br>
                    <ul>
                        <li>Career Building</li>
                        <li>Business Development</li>
                        <li>Story Telling</li>
                    </ul>
                </div>

            </div>


        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Platform Connect -->
<section class="platform-connect ptb-100">
    <app-social-media-links></app-social-media-links>
</section>
<!-- End Platform Connect -->