<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <h3><b>Power BI Course Syllabus</b></h3>
    </div>
</div>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Power BI
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul type="none">
                    <li><b>Module 1: SQL SERVER INTRODUCTION</b>
                        <ul type="square">
                            <li>Data, Databases and RDBMS Software</li>
                            <li>Database Types: OLTP, DWH, OLAP</li>
                            <li>Microsoft SQL Server Advantages, Use</li>
                            <li>Versions and Editions of SQL Server</li>
                            <li>SQL: Purpose, Real-time Usage Options</li>
                            <li>SQL versus Microsoft T-SQL [MSSQL]</li>
                            <li>Microsoft SQL Server - Career Options</li>
                            <li>SQL Server Components and Usage</li>
                            <li>Database Engine Component and OLTP</li>
                            <li>BI Components, Data Science Components</li>
                            <li>ETL, MSBI and Power BI Components</li>
                            <li>Course Plan, Concepts, Resume, Project</li>
                            <li>24 x 7 Online Labs for Remote DB Access</li>
                            <li>Software Installation Pre-Requisites</li>
                        </ul>
                    </li>
                    <li><b>Module 2: Introduction to Power BI (Free Demo Class)</b>
                        <ul type="square">
                            <li>Power BI Job Roles in Real-time</li>
                            <li>Power BI Data Analyst Job Roles</li>
                            <li>Business Analyst - Job Roles</li>
                            <li>Power BI Developer - Job Roles</li>
                            <li>Power BI for Data Scientists</li>
                            <li>Comparing MSBI and Power BI</li>
                            <li>Comparing Tableau and Power BI</li>
                            <li>MCSA 70-778, MCSA 70-779 Exam</li>
                            <li>Types of Reports in Real-World</li>
                            <li>Interactive & Paginated Reports</li>
                            <li>Analytical & Mobile Reports</li>
                            <li>Data Sources Types in Power BI</li>
                            <li>Power BI Licensing Plans - Types</li>
                            <li>Power BI Training : Lab Plan</li>
                            <li>Power BI Dev & Prod Environments</li>
                            <li>Understanding the Power BI Tools</li>
                            <li>Installing Power BI & Connecting to Data</li>
                            <li>The "Locale" used in the curriculum</li>
                            <li>Working with the query Editor</li>
                            <li>Working with the data model and creating a visualization</li>
                        </ul>
                    </li>
                    <li><b>Module 3: Basic Report Design</b>
                        <ul type="square">
                            <li>Power BI Desktop Installation</li>
                            <li>Data Sources & Visual Types</li>
                            <li>Canvas, Visualizations and Fields</li>
                            <li>Get Data and Memory Tables</li>
                            <li>In-Memory xvelocity Database</li>
                            <li>Table and Tree Map Visuals</li>
                            <li>Format Button and Data Labels</li>
                            <li>Legend, Category and Grid</li>
                            <li>PBIX and PBIT File Formats</li>
                            <li>Visual Interaction, Data Points</li>
                            <li>Disabling Visual Interactions</li>
                            <li>Edit Interactions - Format Options</li>
                            <li>SPOTLIGHT & FOCUSMODE</li>
                            <li>CSV and PDF Exports. Tooltips</li>
                            <li>Power BI EcoSystem, Architecture</li>
                        </ul>
                    </li>
                    <li><b>Module 4: Visual Sync, Grouping</b>
                        <ul type="square">
                            <li>Slicer Visual : Real-time Usage</li>
                            <li>Orientation, Selection Properties</li>
                            <li>Single & Multi Select, CTRL Options</li>
                            <li>Slicer : Number, Text and Date Data</li>
                            <li>Slicer List and Slicer Dropdowns</li>
                            <li>Visual Sync Limitations with Slicer</li>
                            <li>Disabling Slicers,Clear Selections</li>
                            <li>Grouping : Real-time Use, Examples</li>
                            <li>List Grouping and Binning Options</li>
                            <li>Grouping Static / Fixed Data Values</li>
                            <li>Grouping Dynamic / Changing Data</li>
                            <li>Bin Size and Bin Limits (Max, Min)</li>
                            <li>Bin Count and Grouping Options</li>
                            <li>Grouping Binned Data, Classificationx</li>
                        </ul>
                    </li>
                    <li><b>Module 5: Hierarchies, Filters</b>
                        <ul type="square">
                            <li>Creating Hierarchies in Power BI</li>
                            <li>Independent Drill-Down Options</li>
                            <li>Dependant Drill-Down Options</li>
                            <li>Conditional Drilldowns, Data Points</li>
                            <li>Drill Up Buttons and Operations</li>
                            <li>Expand & Show Next Level Options</li>
                            <li>Dynamic Data Drills Limitations</li>
                            <li>Show Data and See Records</li>
                            <li>Filters : Types and Usage in Real-time</li>
                            <li>Visual Filter, Page Filter, Report Filter</li>
                            <li>Basic, Advanced and TOP N Filters</li>
                            <li>Category and Summary Level Filters</li>
                            <li>DrillThru Filters, Drill Thru Reports</li>
                            <li>Keep All Filters" Options in DrillThru</li>
                            <li>CrossReport Filters, Include, Exclude</li>
                        </ul>
                    </li>
                    <li><b>Module 6: Bookmarks, Azure, Modeling</b>
                        <ul type="square">
                            <li>Drill-thru Filters, Page Navigations</li>
                            <li>Bookmarks: Real-time Usage</li>
                            <li>Bookmarks for Visual Filters</li>
                            <li>Bookmarks for Page Navigations</li>
                            <li>Selection Pane with Bookmarks</li>
                            <li>Buttons, Images with Actions</li>
                            <li>Buttons, Actions and Text URLs</li>
                            <li>Bookmarks View & Selection Pane</li>
                            <li>OLTP Databases, Big Data Sourcesx</li>
                            <li>Azure Database Access, Reports</li>
                            <li>Import & Direct Query with Power BI</li>
                            <li>SQL Queries and Enter Data</li>
                            <li>Data Modeling : Currency, Relations</li>
                            <li>Summary, Format, Synonyms</li>
                            <li>Web View & Mobile View in PBI</li>
                        </ul>
                    </li>
                    <li><b>Module 7: Visualization Properties</b>
                        <ul type="square">
                            <li>Stacked Charts and Clustered Charts</li>
                            <li>Line Charts, Area Charts, Bar Charts</li>
                            <li>100% Stacked Bar & Column Charts</li>
                            <li>Map Visuals: Tree, Filled, Bubble</li>
                            <li>Cards, Funnel, Table, Matrix</li>
                            <li>Scatter Chart : Play Axis, Labels</li>
                            <li>Series Clusters & Selections</li>
                            <li>Waterfall Chart and ArcGIS Maps</li>
                            <li>Info graphics, Icons and Labels</li>
                            <li>Color Saturation, Sentiment Colors</li>
                            <li>Column Series, Column Axis in Lines</li>
                            <li>Join Types : Round, Bevel, Miter</li>
                            <li>Shapes, Markers, Axis, Plot Area</li>
                            <li>Display Units, Data Colors, Shapes</li>
                            <li>Series, Custom Series and Legends</li>
                        </ul>
                    </li>
                    <li><b>Module 8: Power Query Level 1</b>
                        <ul type="square">
                            <li>Power Query M Language Purpose</li>
                            <li>Power Query Architecture and ETL</li>
                            <li>Data Types, Literals and Values</li>
                            <li>Power Query Transformation Types</li>
                            <li>Table & Column Transformations</li>
                            <li>Text & Number Transformations</li>
                            <li>Date, Time and Structured Data</li>
                            <li>List, Record and Table Structures</li>
                            <li>let, source, in statements @ M Lang</li>
                            <li>Power Query Functions, Parameters</li>
                            <li>Invoke Functions, Execution Results</li>
                            <li>Get Data, Table Creations and Edit</li>
                            <li>Merge and Append Transformations</li>
                            <li>Join Kinds, Advanced Editor, Apply</li>
                            <li>ETL Operations with Power Query</li>
                        </ul>
                    </li>
                    <li><b>Module 9: Power Query Level 2</b>
                        <ul type="square">
                            <li>Query Duplicate, Query Reference</li>
                            <li>Group By and Advanced Options</li>
                            <li>Aggregations with Power Query</li>
                            <li>Transpose, Header Row Promotion</li>
                            <li>Reverse Rows and Row Count</li>
                            <li>Data Type Changes & Detection</li>
                            <li>Replace Columns: Text, NonText</li>
                            <li>Replace Nulls: Fill Up, Fill Down</li>
                            <li>PIVOT, UNPIVOT Transformations</li>
                            <li>Move Column and Split Column</li>
                            <li>Extract, Format and Numbers</li>
                            <li>Date & Time Transformations</li>
                            <li>Deriving Year, Quarter, Month, Day</li>
                            <li>Add Column : Query Expressions</li>
                            <li>Query Step Inserts and Step Edits</li>
                        </ul>
                    </li>
                    <li><b>Module 10: Power Query Level 3</b>
                        <ul type="square">
                            <li>Creating Parameters in Power Query</li>
                            <li>Parameter Data Types, Default Lists</li>
                            <li>Static/Dynamic Lists For Parameters</li>
                            <li>Removing Columns and Duplicates</li>
                            <li>Convert Tables to List Queries</li>
                            <li>Linking Parameters to Queries</li>
                            <li>Testing Parameters and PBI Canvas</li>
                            <li>Multi-Valued Parameter Lists</li>
                            <li>Creating Lists in Power Query</li>
                            <li>Converting Lists to Table Data</li>
                            <li>Advanced Edits and Parameters</li>
                            <li>Data Type Conversions, Expressions</li>
                            <li>Columns From Examples, Indexes</li>
                            <li>Conditional Columns, Expressions</li>
                        </ul>
                    </li>
                    <li><b>Module 11: DAX Functions - Level 1</b>
                        <ul type="square">
                            <li>DAX : Importance in Real-time</li>
                            <li>Real-world usage of Excel, DAX</li>
                            <li>DAX Architecture, Entity Sets</li>
                            <li>DAX Data Types, Syntax Rules</li>
                            <li>DAX Measures and Calculations</li>
                            <li>ROW Context and Filter Context</li>
                            <li>DAX Operators, Special Characters</li>
                            <li>DAX Functions, Types in Real-time</li>
                            <li>Vertipaq Engine, DAX Cheat Sheet</li>
                            <li>Creating, Using Measures with DAX</li>
                            <li>Creating, Using Columns with DAX</li>
                            <li>Quick Measures and Summaries</li>
                            <li>Validation Errors, Runtime Errors</li>
                            <li>Conditional Columns, Expressions</li>
                            <li>Dynamic Expressions, IF in DAX</li>
                        </ul>
                    </li>
                    <li><b>Module 12: DAX Functions - Level 2</b>
                        <ul type="square">
                            <li>Data Modeling Options in DAX</li>
                            <li>Detecting Relations for DAX</li>
                            <li>Using Calculated Columns in DAX</li>
                            <li>Using Aggregated Measures in DAX</li>
                            <li>Working with Facts & Measures</li>
                            <li>Modeling : Missing Relations</li>
                            <li>Modeling : Relation Management</li>
                            <li>CALCULATE Function Conditions</li>
                            <li>CALCULATE & ALL Member Scope</li>
                            <li>RELATED & COUNTROWS in DAX</li>
                            <li>Entity Sets and Slicing in DAX</li>
                            <li>Dynamic Expressions, RETURN</li>
                            <li>Date, Time and Text Functions</li>
                            <li>Logical, Mathematical Functions</li>
                            <li>Running Total & EARLIER Function</li>
                        </ul>
                    </li>
                    <li><b>Module 13: DAX Functions Level 3</b>
                        <ul type="square">
                            <li>Connection with CSV, MS Access</li>
                            <li>AVERAGEX and AVERAGE in DAX</li>
                            <li>KEEPFILTERS and CALCUALTE</li>
                            <li>COUNTROWS, RELATED, DIVIDE</li>
                            <li>PARALLELPERIOD, DATEDADD</li>
                            <li>CALCULATE & PREVIOUSMONTH</li>
                            <li>USERELATIONSHIP, DAX Variables</li>
                            <li>TOTALYTD , TOTALQTD</li>
                            <li>DIVIDE, CALCULATE, Conditions</li>
                            <li>IF..ELSE..THEN Statement</li>
                            <li>SELECTEDVALUE, FORMAT</li>
                            <li>SUM, DATEDIFF Examples in DAX</li>
                            <li>TODAY, DATE, DAY with DAX</li>
                            <li>Time Intelligence Functions - DAX</li>
                        </ul>
                    </li>
                    <li><b>Module 14: Power BI Cloud - 1</b>
                        <ul type="square">
                            <li>Power BI Service Architecture</li>
                            <li>Power BI Cloud Components, Use</li>
                            <li>App Workspaces, Report Publish</li>
                            <li>Reports & Related Datasets Cloud</li>
                            <li>Creating New Reports in Cloud</li>
                            <li>Report Publish and Report Uploads</li>
                            <li>Dashboards Creation and Usage</li>
                            <li>Adding Tiles to Dashboards</li>
                            <li>Pining Visuals and Report Pages</li>
                            <li>Visual Pin Actions in Dashboards</li>
                            <li>LIVE Page Interaction in Dashboard</li>
                            <li>Adding Media: Images, Custom Links</li>
                            <li>Adding Chs and Embed Links</li>
                            <li>API Data Sources, Streaming Data</li>
                            <li>Streaming Dataset Tiles (REST API)</li>
                        </ul>
                    </li>   
                    <li><b>Module 15: Power BI Cloud - 2</b>
                        <ul type="square">
                            <li>Dashboards Actions, Report Actions</li>
                            <li>DataSet Actions: Create Report</li>
                            <li>Share, Metrics and Exports</li>
                            <li>Mobile View & Dashboard Themes</li>
                            <li>Q & A [Cortana] and Pin Visuals</li>
                            <li>Export, Subscribe, Subscribe</li>
                            <li>Favorite, Insights, Embed Code</li>
                            <li>Featured Dashboards and Refresh</li>
                            <li>Gateways Configuration, PBI Service</li>
                            <li>Gateway Types, Cloud Connections</li>
                            <li>Gateway Clusters, Add Data Sources</li>
                            <li>Data Refresh : Manual, Automatic</li>
                            <li>PBIEngw Service, ODG Logs, Audits</li>
                            <li>DataFlows, Power Query Expressions</li>
                            <li>Adding Entities and JSON Files</li>
                        </ul>
                    </li>
                    <li><b>Module 16: Excel & RLS</b>
                        <ul type="square">
                            <li>Import and Upload Options in Excel</li>
                            <li>Excel Workbooks and Dashboards</li>
                            <li>Datasets in Excel and Dashboards</li>
                            <li>Using Excel Analyzer in Power BI</li>
                            <li>Using Excel Publisher in PBI Cloud</li>
                            <li>Excel Workbooks, PINS in Power BI</li>
                            <li>Excel ODC Connections, Power Pivot</li>
                            <li>Row Level Security (RLS) with DAX</li>
                            <li>Need for RLS in Power BI Cloud</li>
                            <li>Data Modeling in Power BI Desktop</li>
                            <li>DAX Roles Creation and Testing</li>
                            <li>Adding Power BI Users to Roles</li>
                            <li>Custom Visualizations in Cloud</li>
                            <li>Histogram, Gantt Chart, Infographics</li>
                        </ul>
                    </li>
                    <li><b>Module 17: Report Server, RDL</b>
                        <ul type="square">
                            <li>Need for Report Server in PROD</li>
                            <li>Install, Configure Report Server</li>
                            <li>Report Server DB, Temp Database</li>
                            <li>Web service URL, Webportal URL</li>
                            <li>Creating Hybrid Cloud with Power BI</li>
                            <li>Using Power BI DesktopRS</li>
                            <li>Uploading Interactive Reports</li>
                            <li>Report Builder For Report Server</li>
                            <li>Report Builder For Power BI Cloud</li>
                            <li>Designing Paginated Reports (RDL)</li>
                            <li>Deploy to Power BI Report Server</li>
                            <li>Data Source Connections, Report</li>
                            <li>Power BI Report Server to Cloud</li>
                            <li>Tenant IDs Generation and Use</li>
                            <li>Mobile Report Publisher, Usage</li>
                        </ul>
                    </li>
                    <li><b>Module 18: PowerApp</b>
                        <ul type="square">
                            <li>Overview</li>
                            <li>Basic Power App Concept</li>
                            <li>Canvas Apps | Navigation | Customization</li>
                            <li>Contents (Galleries, Data Cards, Forms, Triggers, Functions & Formulas, Edit Forms, Text
                                Boxes)</li>
                        </ul>
                    </li>
                    <li><b>Module 19: Power BI Service & Power BI Mobile</b>
                        <ul type="square">
                            <li>Why Power Bi Service?</li>
                            <li>Comparison Power BI Free & Premium</li>
                            <li>Logging into Power Bi Service</li>
                            <li>Interface overview</li>
                            <li>Importing data from Desktop to Service</li>
                            <li>Dataset menu</li>
                            <li>Working on reports</li>
                            <li>Dashboard overview</li>
                            <li>Workspace & Gateways</li>
                            <li>Installing Gateways - Personal & On-premise</li>
                            <li>Working alone or collaborating with colleagues</li>
                            <li>Collaborating in App Workspace</li>
                            <li>Sharing the results</li>
                            <li>Publishing the app</li>
                            <li>Content packs from online services</li>
                            <li>Power Bi Mobile Overview</li>
                            <li>Excluding dataset from sharing</li>
                        </ul>
                    </li>
                    <li><b>Module 20: Power BI and Excel Together</b>
                        <ul type="square">
                            <li>Options for Publishing from Excel</li>
                            <li>Pin Excel Elements to Power BI</li>
                            <li>Analyze in Excel (Power BI Pro or Premium)</li>
                            <li>Excel Publish: Upload and Export to Power BI</li>
                            <li>Sharing Published Excel Dashboards (Power BI Pro or Premium)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 
</div>