<section id="footer">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/about-us']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            About</a></li>
                    <li><a [routerLink]="['/leadership']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Leadership</a></li>
                    <li><a [routerLink]="['/careers']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Careers</a></li>
                    <li><a [routerLink]="['/gallery']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Gallery</a></li>
                    <li><a [routerLink]="['/campus-to-corporate']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Campus to Corporate</a></li>
                    <!-- <li><a [routerLink]="['/terms']"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Terms
                            and Conditions</a></li>
                    <li><a [routerLink]="['/privacy-policy']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i> Privacy
                            Policy</a></li>
                    <li><a [routerLink]="['/refund-policy']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Refund Policy</a></li>
                    <li><a [routerLink]="['/data-policy']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Data Policy</a></li>
                    <li><a [routerLink]="['/subscription']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Subscription Policy</a></li>
                    <li><a [routerLink]="['/disclaimer']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Disclaimer</a></li> -->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Technical Courses</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/dotnet']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            .Net Full Stack</a></li>
                    <li><a [routerLink]="['/java']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Java Full Stack</a></li>
                    <li><a [routerLink]="['/python']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Python Full Stack</a></li>
                    <li><a [routerLink]="['/testing']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Testing Tools</a></li>
                    <li><a [routerLink]="['/webdevelopment-angular']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Web Development - Angular</a></li>
                    <li><a [routerLink]="['/webdevelopment-reactjs']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Web Development - React JS</a></li>
                    <li><a [routerLink]="['/sql-server']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Database - SQL Server</a></li>
                    <li><a [routerLink]="['/aws']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            AWS</a></li>
                    <li><a [routerLink]="['/oracle']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Database - Oracle</a></li>
                </ul>


            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Management Courses</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/digital-marketing']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Digital Marketing</a></li>
                    <li><a [routerLink]="['/hr-training']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            HR Training</a></li>
                    <li><a [routerLink]="['/tableau']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Tableau</a></li>
                    <li><a [routerLink]="['/powerbi']"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            Power BI</a></li>

                </ul>
                <br>
                <h5>Presentation & Interview</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['/interview-skills']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Interview Skills</a></li>
                    <li><a [routerLink]="['/group-discussion-skills']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Group Discussion Skills</a></li>
                    <li><a [routerLink]="['/presentation-skills']"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            Presentation Skills</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="mailto:info@skilllens.com">Email: info@skilllens.com</a></li>
                    <li><a href="tel:9490124655">Phone: +91 9490124655</a></li>
                </ul>

                <ul class="list-inline list-unstyled social-icon" style="margin-top: 15px;">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/skilllens" rel="noopener" target="_blank"><img
                                src="assets/images/SkillLens_Twitter_Logo1.webp" alt="twitter" width="33px" height="33px"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/skilllens" rel="noopener" target="_blank"><img
                                src="assets/images/SkillLens_fb.jpg" alt="fb"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/skilllens" rel="noopener" target="_blank"><img
                                src="assets/images/SkillLens_linkedin.jpg" alt="linkedin"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCY_GL5DzyeA7QrIKIGEBGGQ" rel="noopener"
                            target="_blank"><img src="assets/images/SkillLens_Youtube_Logo.jpg" alt="youtube"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/skilllens/" rel="noopener" target="_blank"><img
                                src="assets/images/SkillLens_instagram.jpg" alt="instagram"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me/skilllens" rel="noopener" target="_blank">
                            <img src="assets/images/SkillLens_Telegram_Logo.jpg" alt="telegram" width="38px"
                                height="38px"></a>
                    </li>
                </ul>
                <ul class="list-inline list-unstyled" style="margin-top: 15px;">
                    <li class="list-inline-item">Recognized by</li>
                    <li class="mobileView"><img src="assets/images/SkillLens_Startup-india-logo.png" class="img-fluid">
                    </li>
                    <li class="list-inline-item"><img src="assets/images/SkillLens_msme.jpeg" width="80%" height="150px"
                            style="float:left">
                    </li>
                </ul>

            </div>

        </div>

        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 ">

                <h6>© 2023 All rights Reserved.<a class="text-green ml-2" [routerLink]="['/']"
                        routerLinkActive="router-link-active" target="_blank">SKILL LENS</a></h6>
            </div>

        </div>
    </div>
</section>

<!-- <div id="mySidenav" class="sidenav">

  <div class="frm_side">
    <h2><i class="fa fa-phone" aria-hidden="true"></i> Request a call back</h2>

    <form class="frm_page" #Quote="ngForm" (ngSubmit)="Quote.valid && RequestQuote(Quote)" name="Quote">
      <div class="form-group">

        <input type="text" class="form-control" name="name" maxlength="50" placeholder="Enter Name" required
          [(ngModel)]="contact.Name" #Name="ngModel">
        <small class="text-danger" *ngIf="Name.invalid && Name.touched || Name.invalid && Quote.submitted">Name is
          Mandatory</small>
      </div>
      <div class="form-group">

        <input type="email" class="form-control" name="Email" maxlength="50" placeholder="Enter Email" required
          #Email="ngModel" [(ngModel)]="contact.Email">
        <small class="text-danger" *ngIf="Email.invalid && Email.touched || Email.invalid && Quote.submitted">Email is
          Mandatory</small>
      </div>
      <div class="form-group">

        <input type="phone" class="form-control" name="Mobile" maxlength="10" placeholder="Enter Phone Number" required
          #Mobile="ngModel" [(ngModel)]="contact.Mobile">
        <small class="text-danger" *ngIf="Mobile.invalid && Mobile.touched || Mobile.invalid && Quote.submitted">Mobile
          is Mandatory</small>
      </div>
      <div class="form-group">

        <textarea class="form-control" rows="4" maxlength="250" name="Message" placeholder="Type messsge here.."
          required #Message="ngModel" [(ngModel)]="contact.Message"></textarea>
        <small class="text-danger"
          *ngIf="Message.invalid && Message.touched || Message.invalid && Quote.submitted">Message is Mandatory</small>
      </div>
      <button name="submit" type="submit" class="sign">Submit <mat-spinner class="spinner" style="position: absolute;"
          [diameter]="40" *ngIf="loading"></mat-spinner></button> &nbsp;&nbsp;
      <button name="submit" type="button" class="sign" (click)="closeGet()">Close</button>
    </form>
  </div>
</div>



<span class="side_menu1"><a [routerLink]="" (click)="openGet()" style="color: white;"><i class="fa fa-envelope"
      aria-hidden="true"></i> Write-2-Nithya </a></span> -->





<div id="mySidenav" class="sidenav">

    <div class="frm_side">
        <h2><i class="fas fa-globe" aria-hidden="true"></i> Current-Affairs</h2>
        <button name="submit" type="button" class="sign" (click)="closeGet()">Close</button>

        <ul class="list-inline list-unstyled">
            <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdo" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Current Affairs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdo" style="left:40px">
                    <div class="container">
                        <div class="row">
                            <ul class="list-inline list-unstyled">
                                <li class="list-inline-item">
                                    <a class="nav-link " [routerLink]="['/current-affairs']" (click)="closeGet()"
                                        routerLinkActive="router-link-active">Daily
                                        CA </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" [routerLink]="['/current-affairs']" (click)="closeGet()"
                                        routerLinkActive="router-link-active">Monthly
                                        CA</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" href="javascript:void(0);">Static
                                        GK
                                        <!-- (click)="downloadfile(1);closeGet()" -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" href="javascript:void(0);">Banking
                                        <!-- (click)="downloadfile(1);closeGet()" -->
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="nav-link" href="javascript:void(0);">Insurance </a>
                                    <!-- (click)="downloadfile(1);closeGet()" -->
                                </li>
                            </ul>

                            <!-- /.col-md-4  -->
                        </div>
                    </div>
                    <!--  /.container  -->
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- 
<span class="side_menu1 "><a [routerLink]="" (click)="openGet()" style="color: white;"><i class="fas fa-globe"
      aria-hidden="true"></i> Current-Affairs </a></span> -->
<!-- 
<button class="top" id="btn2" class="topButton" *ngIf="isShow" (click)="gotoTop()"><i
    class="fa fa-arrow-up"></i></button> -->




<!-- Back Top top -->
<div class="back-to-top">Top</div>
<!-- End Back Top top -->