.bt_ch {
    color: #333333;
}

.bt_ch.active {
    color: #b10dc9;
    font-weight: 600;
    background: none;
    border: 2px dashed #b10dc9;
    border-radius: 27px;
}
.work_ul li{list-style: none;}
.purple_clr{
    color: #b10dc9;
    
}