<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
        <h3><b>Testing Tools Course Syllabus</b></h3>
    </div>
</div>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Manual Testing - SDLC, Levels, Types, Defect Management, Agile
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b> Manual Testing </b>
                        <ul type="square">
                            <li> Introduction to Software Testing </li>
                            <li> Software Development Process </li>
                            <li> Testing Principles </li>
                            <li> Software Development Life Cycle- SDLC </li>
                            <li> Levels of Testing </li>
                            <li> Software Testing Methods </li>
                            <li> Test Approach </li>
                            <li> Software Testing Life Cycle</li>
                            <li> Test Strategy </li>
                            <li> Test Planning </li>
                            <li> Test Case Design </li>
                            <li> Test Engineer Responsibilities </li>
                            <li> Levels of Testing </li>
                            <li> Defect Management</li>
                            <li> Agile process Concepts </li>
                        </ul>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Project - Manual Testing </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b>Manual Testing Project</b>
                        <ul type="square">
                            <li>Introduction to Project</li>
                            <li> Test Scenario Preparation </li>
                            <li> Test Case Preparation </li>
                            <li> Test Data Preparation </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Core Java - Basics, OOPS, Collections, Exceptions </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b> Core Java </b>
                        <ul type="square">
                            <li> Introduction to Java </li>
                            <li> Configuring Eclipse </li>
                            <li> Data types and Variables </li>
                            <li> Conditional Statements </li>
                            <li> Loop Statements </li>
                            <li> Class Objects </li>
                            <li> Encapusulation </li>
                            <li> Inheritance </li>
                            <li> Polymorphism </li>
                            <li> Interface & Abstract class </li>
                            <li> Exception Handling </li>
                            <li> Collections </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Automation - Selenium, WebDriver, TestNG, POI, Automation Life Cycle </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b> Selenium </b>
                        <ul type="square">
                            <li> Introduction to Selenium </li>
                            <li> Selenium Webdriver </li>
                            <li> Locators </li>
                            <li> Text Field, Radio Buttons, CheckBox, Links, Buttons </li>
                            <li> DropDown, Alerts, Frames</li>
                            <li> ActionClass, WebTable </li>
                            <li> TakeScreenshot </li>
                            <li> Synchronization </li>
                            <li> TestNG </li>
                            <li> Apache POI </li>
                            <li> Automation Life Cycle </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                SQL - Basics, DBMS, RDBMS, DDL, DML, TCL, Joins </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b> SQL </b>
                        <ul type="square">
                            <li> Introduction </li>
                            <li> Types of SQL commands </li>
                            <li> Data Base Design and Creation </li>
                            <li> Working with Tables </li>
                            <li> Data Integrity </li>
                            <li> JOINS </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Project - Automation Project using Selenium </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ol type="1">
                    <li><b> Project - Selenium</b>
                        <ul type="square">
                            <li> Introduction to Automation Tesing </li>
                            <li> Introduction to Selenium Components </li>
                            <li> Creating Automtion Environment Setup </li>
                            <li> Generating Scripts </li>
                            <li> Implementing FrameWork </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>