<section class="page-title-banner1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <!-- <h4>Coming soon...</h4> -->
            </div>
        </div>
    </div>

</section>
<section class="about-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="about-content">
                        <h4 class="text-center">Coming soon...</h4>
                        <div class="bar"></div>
                        <!-- <p>To become successful in life, we need skills. The skills we acquire will decide over destiny. Employers / Entrepreneurs look for skilled people to manage and run their businesses. Many a time, we generally assume that knowledge helps us
                            become successful and reach our goals. But, knowledge has to be transformed to skill to become successful and reach our goals. Knowledge comes from listening, watching or reading information and theoretical concepts. This knowledge
                            helps us face situations (both job and life related). But, when we encounter a situation, we have to deal with the situation. The mechanism of applying our knowledge to deal with various situations we encounter requires "SKILL". Skill
                            is applying our knowledge to situations.</p>

                        <p>To be more precise and simple. Let us recollect the age-old story of our childhood. The story is about a pandit (knowledgeable person) who got into a boat to cross a river. During his journey, the boat sailor started talking
                            to the pandit. The pandit was not interested as he had an inner feeling that the boat sailor is ill literate and it's an insult for him to talk with the sailor. So, he though of teaching a lesson to the boat sailor.
                            The pandit asked the boat sailor if he had read any holy books and know the philosophy of life? The boat sailor was dumb and said a big NO. The pandit immediately had a big laugh on his face at the sailor and with huge
                            pride said you have wasted your whole-life. The humble sailor had nothing to say and continued to row the boat. After few minutes, the boat got damaged and the water started flowing into the boat. The boat sailor saw
                            this and asked the pandit Sir, do you know swimming? Now, the pandit replied with a big NO. The sailor said, I'm extremely Sorry!. The boat is sinking, and we have to jump into the river and swim to the shore to save
                            our life's.
                        </p>
                        <p>If we analyse the above situation, the boat sailor had skills to deal with the above extreme situation. On the other had, the pandit has acquired huge knowledge which helped him understand the extreme situation but was not having skill
                            to deal with the situation. As a result the boat sailor could save his life with the skills he acquired. On the other-hand, even though blessed with huge knowledge, the pandit had drowned.
                        </p>
                        <p>To succeed in one's life and career, we should acquire skills. Skills can not be acquired instantaneously. Skills are results of huge efforts. The efforts should also be combined with patience and perseverance.
                        </p> -->
                    </div>
                
            </div>

            
        </div>
    </div>
</section>