<configuration>
 <system.web>
        <globalization 
           requestEncoding="utf-8"
           responseEncoding="utf-8"
        />
    </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
       <mimeMap fileExtension="webp" mimeType="image/webp" />
        <mimeMap fileExtension="js" mimeType="text/javascript" />
         <mimeMap fileExtension="css" mimeType="text/css" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3600.00:00:00"/>
    </staticContent>
 
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
  </system.webServer>
</configuration>