<div class="card p-3 mb-5 bg-body rounded" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="assets/images/SkillLens_SatishSir.webp" class="img-fluid img-thumbnail" alt="SkillLens_Satish_Sir">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title"><b>Satish Kumar</b></h5>
        <p class="card-text">Our trainer has experience of training 50000+ students on C, C++, .Net and Angular over two
          decades helped him to understand the technology expectations of various multinational companies. All the
          offline/online learning classes are perfectly designed to build skills. We not only share knowledge, we focus
          on the application of knowledge (Skill). </p>
        <p class="card-text"><small class="text-muted">Experience : 20+ years</small></p>
      </div>
    </div>
  </div>
</div>